/* 
HEADER 
*/
header{
    background-color: #2c3e50;
}
/* 
MAIN
*/
#start-bootstrap{
    background-color: #1abc9c;
}
#avatar{
    width: 280px;
}
#star::before, #star::after{
    content:'\2014';
    font-size: 30px;
}
/* 
PORTFOLIO  
*/
#house img{
    background-color: #ba4b63;
    border: 1px solid #ba4b63;
    border-radius: 20px ;
}
#cake img{
    background-color: #1ea4b6;
    border: 1px solid #1ea4b6;
    border-radius: 20px ;
}
#circle img{
    background-color: #140f0f;
    border: 1px solid #140f0f;
    border-radius: 20px ;
}
#snes img{
    background-color: #1c83c1;
    border: 1px solid #1c83c1;
    border-radius: 20px ;
}
#box img{
    background-color: #0e38b5;
    border: 1px solid #0e38b5;
    border-radius: 20px ;
}
#submarine img{
    background-color: #ccb2a3;
    border: 1px solid #ccb2a3;
    border-radius: 20px ;
}
/* 
ABOUT
*/
#about{
    background-color: #1abc9c;
}
/* 
FOOTER 
*/
#footer-light{
    background-color: #3a546d;
}
#footer-dark{
    background-color: #2c3e50;
}
#green{
    color: #1abc9c;
}
#footer-light .row .col .text-center ul li{
    border: 1px white solid;
    border-radius: 100%;
}
#footer-light .row .col .text-center ul li i{
color: white;
}
